<h1>Team</h1>
<div teams-list></div>
<!-- <div ng-controller="TeamsController"></div>
   
	<div class="container">
	  <form class="form-inline" role="form">
	    <div class="form-group">
	      <label for="Name">First name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Enter first name" name="firstName" ng-model="newUser.firstName">
	    </div>
	    <div class="form-group">
	      <label for="lastName">Last name:</label>
	      <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName" ng-model="newUser.lastName">
	    </div>
	    <div class="form-group">
	      <label for="team">Team:</label>
	      <input type="text" class="form-control" id="team" placeholder="Enter team" name="team" ng-model="newUser.team">
	    </div>
	    <button type="submit" class="btn btn-default" value="Save" ng-click="saveUser()" >Submit</button>
	  </form>
	</div>
	
 <div class="container">
 <h2>Users</h2>         
 <table class="table table-hover">
 <tbody>
 	<thead>
   	<tr>
        	<th>First name</th>
        	<th>Last name</th>
        	<th>Team</th>
        	<th>Action</th>
   	</tr>
	</thead>
   <tr ng-repeat="user in userList">
   	<td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.team}}</td>
      <td>
			<a  href="#/teams" ng-click="edit(user.id)">edit</a> 
			<a href="#/teams" ng-click="delete(user.id)">delete</a>      
      </td>
	</tr>
 </tbody>
 </table>
-->